@model ProductsListViewModel
<!-- ** BEGIN SEARCH AREA ** -->
<div class="col-md-4 pull-right container-fluid">
    <form>
        <input placeholder="Search here" class="col-md-10" type="text" name="SearchString">
        @*<button class="btn btn-sm btn-primary col-md-1  pull-right" >
        <i class="glyphicon glyphicon-share-alt"></i>
    </button>*@
        <button class="btn btn-sm btn-primary col-md-1 " value="Filter">
            <i class="glyphicon glyphicon-search"></i>
            @*center*@
        </button>
    </form >
</div>
<!-- ** END SEARCH AREA ** -->
<h1>@Model.CurrentCategory</h1>
@foreach (var product in Model.Products) {
    @Html.Partial("ProductOverviewSummery", product)
}
<div id="productDiv">
</div>
@*@section scripts
{
    
    <script>

        
        $(document).ready(function () {
            LoadMoreProducts();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMoreProducts();
            }
        });

        function LoadMoreProducts() {

            $.ajax({
                type: 'GET',
                url: '/api/ProductData',
                dataType: 'json',
                success: function(jsonData) {
                    if (jsonData == null) {
                        alert('No Data Returned');
                        return;
                    }

                    $.each(jsonData, function(index, product) {

                            var productSummaryString =
                           '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                                              '  <div class="thumbnail">' +
                                              '     <img src="' + product.imageThumbnailUrl + '" alt="">' +
                                              '      <div class="caption">' +
                                              '         <h3 class="pull-right">' + product.price + '</h3>' +
                                              '         <h3>' +
                                '             <a href=/Product/Details?id=' + product.productId + '>' + product.name + '</a>' +                      
                                              '         </h3>' +
                                              '         <p>' + product.shortDesc + '</p>' +
                                              '    </div>' +
                                              '    <div class="addToCart">' +
                                              '        <p class="button">' +
                                              '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?productId=' + product.productId + '>Add to cart</a>' +
                                              '         </p>' +
                                              '     </div>' +
                                              '  </div>' +
                                              '</div>';


                            $('#productDiv').append(productSummaryString);
                        });
                },
                error: function(ex) {
                    alert(ex);
                }
            });
            return false;
        }

    </script>
}*@