<br />
<div class="row carousel">
    <div class="col-md-6 col-lg-offset-3"  style="max-height: 500px; max-width: 100%;">
        <div id="carousel-example-generic" class="carousel-slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="http://cdn.skim.gs/images/c_fill,dpr_1.0,f_auto,fl_lossy,h_391,q_auto,w_695/v1/msi/r5igovj0lea50nipkpxe/why-you-should-read-and-re-read-these-high-school-books-as-an-adult" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="https://s-media-cache-ak0.pinimg.com/originals/97/43/d0/9743d0f7b26ae85d4d6c2bd39ae32a59.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://www.kkbooks.com/wp-content/uploads/2017/04/books-about-us-background-1.jpeg"  alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
