@{
    ViewBag.Title = "All Books";
}

@model ListViewModel


@using CoolBooksProject.ViewModels;

 <h1>Latest 3 Added Books</h1>
 <div class="col-sm-5">
     @foreach (var book in Model.Books)
{

    @Html.Partial("BookLastest", book)
}

 </div>
