@model ListViewModel
@using CoolBooksProject.ViewModels;

@{
    ViewBag.Title = @Model.CurrentGenre;
    
}




<h1>@Model.CurrentGenre</h1>
    <br />

    @foreach (var book in Model.Books)
    { 
        @Html.Partial("BookOverviewSummary", book)
    }




