@model ProductEditViewModel

    

<h2>Edit product</h2>


    
<form asp-controller="ProductManagement" asp-action="EditProduct" method="post" class="form-horizontal" role="form">
    <h4>Update the product details below</h4>
    <hr />


    <div class="img-thumbnail col-md-offset-2">
        <a asp-controller="ProductManagement" asp-action="Gallery" asp-route-id="@Model.Product.ProductId" >
            
        <img src="@Model.Product.ImageUrl" style="max-height: 250px; max-width: 250px;" /></a>
        

    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Product.ProductId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.ProductId" class="form-control" />@*readonly="readonly"*@
            <span asp-validation-for="Product.ProductId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ShortDesc" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.ShortDesc" class="form-control" />
            <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.LongDesc" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.LongDesc" class="form-control" />
            <span asp-validation-for="Product.LongDesc" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ImageThumbnailUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.ImageThumbnailUrl" class="form-control" />
            <span asp-validation-for="Product.ImageThumbnailUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ImageUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.ImageUrl" class="form-control" />
            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.InStock" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.InStock" class="form-control" />
            <span asp-validation-for="Product.InStock" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IsProductOfTheWeek" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.IsProductOfTheWeek" class="form-control" />
            <span asp-validation-for="Product.IsProductOfTheWeek" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Categories" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Update product" />
        </div>
    </div>
</form>